@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@import "tailwindcss";

/* Set global font dan background */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #F9FAFB;
  color: #1F2937;
}
